.footMenu{border-top:1px solid #dcdcdc; position:fixed; bottom:0; left:0; width:100%; padding:5px 0; background:#fff;}
.footMenu:after{content:'';clear:both;display:block;visibility: hidden;height:0px; width:0px;font-size:0px;}
.footMenu .footMenuMod{width:25%; float:left; text-align:center;}